---
import '@fontsource/jetbrains-mono'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Nassim LOUNADI's portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-neutral-900 text-white">
		<slot />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	html, body, :root {
		font-family: "JetBrains Mono", monospace;
		height: 100%;
	}

	/* width */
	::-webkit-scrollbar {
		width: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: @apply bg-neutral-900;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #525252;
		border-radius: @apply rounded;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #404040;
	}
</style>
